.git
__pycache__/
*.py[cod]
.venv/
.idea/
.vscode/
.DS_Store

reports/
.github/
notebooks/

data/data_raw/
data/data_external/
data/data_processed/

data/data_interim/**
!data/data_interim/splits_week8/test_with_row_id.csv

outputs/
checkpoints/